
/* code */
/* pre block chunk */
pre {
  padding: -1em;
  overflow-x: auto;
  font-size: 16px;
  white-space: pre;
}

/* inline-code */
code { 
   font-size: 18px; 
   color: #dc264f; 
   background: #f8f8f8;
   padding: .1em .3em;
}

pre code { 
   background: none;
   line-height: 1.5em;
   font-size: 17px;
}

blockquote {
  background: #f9f9f9;
  border-left: 5px solid #a1b70d;
  padding: 1em 1em 3px 1em;
}


h1, h2, h3, h4 {
  color: #a1b70d;
  font-weight: bold;
}

/* 改间距，先调代码，再调整正文 */
body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.75em;
  font-size: 18px;
  text-align:justify;
}



/* font */

code {
  font-family: "Source Code Pro", "Lucida Console", Monaco, monospace;
}
pre code {
  font-family: "Lucida Console", SimHei, Monaco, monospace;
}


