
/* code */
/* pre: block chunk */
pre {
  padding: 0em;
  overflow-x: auto;
  white-space: pre;
}

/* inline-code */
code { 
   font-size: 18px; 
   color: #b62960;
   background: #f9f2f4;
   padding: 2px 4px;
}


/* code in code chunk */
pre code { 
   background: none;
   line-height: 1.5em;
   font-size: 17px;
}


blockquote {
  background: #f9f9f9;
  border-left: 3px solid #0085bd;
  padding: 1em 1em 3px 1em;
}


h2, h3, h4 {
  color: #0085bd;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}


/* link */

a {
  color:#007dfa;
  text-decoration:none;
}
a:hover {
  text-decoration: underline;
  /* 鼠标移动到链接上 */
}



/* Blog标题列表的链接样式 */
.mx-auto a {
  color:#0085bd;
  text-decoration:none;
  padding-bottom:1px; 
  border-bottom:2px solid #dddddd;
}

.mx-auto a:hover {background-color:#dddddd;}




/* 改间距，先调代码，再调整正文 */
body {
  padding: 1em;
  line-height: 1.75em;
  font-size: 18px;
  margin: auto;  /* 整个网页页面的外边距 */
  /* text-align:justify; */
}


.body-p p{
  margin: 1.5em 0;
}



/* font */

code {
  font-family: "Source Code Pro", "Lucida Console", Monaco, monospace;
}
pre code {
  font-family: "Lucida Console", SimHei, Monaco, monospace;
}


/* Auto Numbering */
body {counter-reset: h2}
h2 {counter-reset: h3}
h3 {counter-reset: h4}
h4 {counter-reset: h5}

article[autonumbering] h2:before {counter-increment: h2; content: counter(h2) " "}
article[autonumbering] h3:before {counter-increment: h3; content: counter(h2) "." counter(h3) " "}
article[autonumbering] h4:before {counter-increment: h4; content: counter(h2) "." counter(h3) "." counter(h4) " "}

article[autonumbering] .toc__menu ul { counter-reset: item }
article[autonumbering] .toc__menu li a:before { content: counters(item, ".") ". "; counter-increment: item }

