<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        <meta charset="utf-8">
        
        {{ if .Site.Author.name }}
        <meta content="{{ .Site.Author.name }}" name="author">
        {{ end }}
        {{ if .Description }}
        <meta content="{{ .Description }}" name="description">
        {{ end }}
        {{ if or .Keywords .Params.tags .Params.categories }}
        <meta content="{{ delimit (sort (union (union .Keywords .Params.tags) .Params.categories)) `, ` }}" name="keywords">
        {{ end }}
        <meta content="width=device-width, initial-scale=1" name="viewport">
        {{ template "_internal/opengraph.html" . }}
        {{ template "_internal/twitter_cards.html" . }}
        {{ if and .Site.Title .IsHome }}
        <title>{{ .Site.Title | markdownify | plainify | htmlUnescape }}</title>
        {{ end }}
        {{ if and (and .Title .Site.Title) (or (not (eq .Title .Site.Title)) (not .IsHome)) }}
        <title>{{ .Title | markdownify | plainify | htmlUnescape }} &hyphen; {{ .Site.Title | markdownify | plainify | htmlUnescape }}</title>
        {{ else if .Title }}
        <title>{{ .Title | markdownify | plainify | htmlUnescape }}</title>
        {{ else if .Site.Title }}
        <title>{{ .Site.Title | markdownify | plainify | htmlUnescape }}</title>
        {{ end }}
        
        
        <!-- the css style hosted in CDN -->
        
        <link rel="stylesheet" href="https://s4.zstatic.net/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css" integrity="sha512-XWTTruHZEYJsxV3W/lSXG1n3Q39YIWOstqvmFsdNEEQfHoZ6vm6E9GK2OrF6DSJSpIbRbi+Nn0WDPID9O7xB2Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
        <!-- Highlight.js -->
        
        <link rel="stylesheet" href="https://s4.zstatic.net/ajax/libs/highlight.js/11.6.0/styles/base16/papercolor-light.min.css" integrity="sha512-+QY7lqqRZmz/48bBGgpk0mHX8iKd6qVqjRsDkLhdvRj5pXf+GnJ1iOTPs3iysCRUn0poD0IMu8XRqYblXh+THQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://s4.zstatic.net/ajax/libs/highlight.js/11.6.0/highlight.min.js" integrity="sha512-gU7kztaQEl7SHJyraPfZLQCNnrKdaQi5ndOyt4L4UPL/FHDd/uB9Je6KDARIqwnNNE27hnqoWLBq+Kpe4iHfeQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        
        
        <!-- the css style we defined, must come after the bootstrap.css -->
        <link rel="stylesheet" href="/custom.css">
        
        
        
        
        {{ partial "mathjax.html" . }}
        
        
        
        
         <!-- favicon code -->
        <meta name="msapplication-TileColor" content="#b91d47">
        <meta name="theme-color" content="#ffffff">                
        <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
        <link rel="manifest" href="/icons/site.webmanifest">
        <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">


        <link rel="icon" type="image/x-icon" href="/favicon.ico" >
        
        
        <link rel="stylesheet" href="https://s4.zstatic.net/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.css" integrity="sha512-ywmPbuxGS4cJ7GxwCX+bCJweeext047ZYU2HP52WWKbpJnF4/Zzfr2Bo19J4CWPXZmleVusQ9d//RB5bq0RP7w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        
        
        {{ range .AlternativeOutputFormats }}
        <link href="{{ .Permalink }}" rel="{{ .Rel }}" title="{{ $.Site.Title }}" type="{{ .MediaType.Type }}">
        {{ end }}
        {{ if templates.Exists "partials/head.html" }}
        {{ partial "head" . }}
        {{ end }}
    </head>
    <body class="d-flex flex-column">
        <div class="container flex-fill">
            {{ if .Site.Menus.main }}
            <header>
                <div class="row">
                    <div class="col">
                        <nav class="d-flex justify-content-center my-3">
                            <ul class="nav nav-pills">
                                {{ $p := . }}
                                {{ $basePath := path.Clean (urls.Parse .Site.BaseURL).Path }}
                                {{ if eq $basePath "/" }}
                                {{ $basePath = "" }}
                                {{ end }}
                                {{ range .Site.Menus.main }}
                                {{ $pagePath := strings.TrimPrefix $basePath $p.RelPermalink }}
                                {{ $menuPath := strings.TrimPrefix $basePath .URL }}
                                {{ $active := or (and (eq $menuPath `/`) (eq $pagePath `/`)) (and (ne $menuPath `/`) (hasPrefix $pagePath $menuPath)) }}
                                <li class="nav-item"><a href="{{ .URL }}" class="nav-link{{if $active }} active{{ end }}">{{ .Name }}</a></li>
                                {{ end }}
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
            {{ end }}
            <main>
                {{ block "main" . }}{{ end }}
            </main>
            {{ if .Site.Copyright }}
            <footer>
                <div class="justify-content-center row">
                    <div class="col col-auto">
                       <p class="text-muted" style="max-width:100ch">{{ .Site.Copyright | markdownify }}</p> 
                    </div>
                </div>
            </footer>
            {{ end }}
        </div>
        <script src="https://s4.zstatic.net/ajax/libs/bootstrap/5.2.0/js/bootstrap.bundle.min.js" integrity="sha512-9GacT4119eY3AcosfWtHMsT5JyZudrexyEVzTBWV3viP/YfB9e2pEy3N7WXL3SV6ASXpTU0vzzSxsbfsuUH4sQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        {{ if .Site.Config.Services.GoogleAnalytics }}
        {{ template "_internal/google_analytics.html" . }}
        {{ end }}
        {{ if templates.Exists "partials/body.html" }}
        {{ partial "body" . }}
        {{ end }}
    </body>
</html>
